
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 244 11% 93%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 246 10% 49%;
    --primary-foreground: 0 0% 100%;

    --secondary: 246 10% 89%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 246 10% 54%;
    --accent-foreground: 0 0% 100%;

    --muted: 246 10% 95%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 246 10% 49%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.hero-pattern {
  background-color: #f0f0f5;
  background-image: radial-gradient(at 40% 20%, #72708a 0px, transparent 50%),
    radial-gradient(at 0% 50%, #72708a 0px, transparent 50%),
    radial-gradient(at 80% 50%, #5d5b73 0px, transparent 50%);
}

