
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 252 95% 98%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 252 59% 74%;
    --primary-foreground: 0 0% 100%;

    --secondary: 216 100% 91%;
    --secondary-foreground: 240 5.9% 10%;

    --accent: 199 84% 57%;
    --accent-foreground: 0 0% 100%;

    --muted: 252 33% 97%;
    --muted-foreground: 240 3.8% 46.1%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 252 59% 74%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.hero-pattern {
  background-color: #f1f0fb;
  background-image: radial-gradient(at 40% 20%, #d3e4fd 0px, transparent 50%),
    radial-gradient(at 80% 0%, #4e466e 0px, transparent 50%),
    radial-gradient(at 0% 50%, #d3e4fd 0px, transparent 50%),
    radial-gradient(at 80% 50%, #4e466e 0px, transparent 50%);
}

